spring:
  application:
    name: App1

server:
  port: ${HTTP_PORT:8081}

grpc:
  port: ${GRPC_PORT:9091}
  client:
    app2:
      hostname: ${APP2_SERVICE_HOST:localhost}
      port: ${APP2_SERVICE_PORT_GRPC:9092}

rest:
  client:
    app2:
      hostname: ${APP2_SERVICE_HOST:localhost}
      port: ${APP2_SERVICE_PORT_HTTP:8082}